{% extends 'base.html' %}
{% load static %}
{% block conteudo %}
<body class="bg-secondary-subtle" style="touch-action: pan-y;">
    <div id="scrollspy" class="container-fluid text-center p-0">
        <div class="row mx-0" data-bs-spy="scroll" data-bs-target="#scrollspy" data-bs-smooth-scroll="true">
            {% include 'home/cabecalho.html' %}
        </div>
        <div class="container">
            <div class="row pt-3 g-3">
                {% include 'home/mosquito.html' %}
                {% include 'home/criadouros.html' %}
                {% include 'home/registros.html' %}
                {% include 'home/analise.html' %}
            </div>
            <div class="row text-start text-secondary pb-3">
                {% include 'home/rodape.html' %}
            </div>
        </div>
    </div>
    <div class="modal fade zoom" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div id="dialog" class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down modal-dialog-scrollable" hx-target="this"></div>
    </div>
</body>
<script>
    const modal = new bootstrap.Modal(document.getElementById("modal"))    
    htmx.on("htmx:afterSwap", (e) => {if (e.detail.target.id == "dialog") {modal.show()}})
</script>
<script>
    (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
    key: '{{ google_api_key }}',
    v: "weekly",
    });
</script>
{% endblock %}