{% extends 'base.html' %}
{% load static %}
{% block conteudo %}
<body class="bg-secondary-subtle" style="touch-action: pan-y;">
    <div id="scrollspy" class="container-fluid text-center p-0">
        <div class="row mx-0" data-bs-spy="scroll" data-bs-target="#scrollspy" data-bs-smooth-scroll="true">
            {% include 'cabecalho.html' %}
        </div>
        <div class="container">
            <div class="row pt-3 g-3">
                {% include 'mosquito.html' %}
                {% include 'criadouros.html' %}
                {% include 'registros.html' %}
                {% include 'analise.html' %}
            </div>
            <div class="row text-start text-secondary pb-3">
                {% include 'rodape.html' %}
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div id="dialog" class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down modal-dialog-scrollable" hx-target="this"></div>
    </div>
    <div style="touch-action: pan-y;">
    </div>

</body>
<script>
    const modal = new bootstrap.Modal(document.getElementById("modal"))    
    htmx.on("htmx:afterSwap", (e) => {
        if (e.detail.target.id == "dialog") {
            modal.show()
        }
    })
</script>
{% endblock %}