<form hx-post="{{ request.path }}" hx-indicator="#loader" class="modal-content" style="min-height: 420px;">
    <style>
        .errorlist {color: red; font-weight: bold; list-style-type: none; padding-left: 0; margin-bottom: 4px;}
        .spinner-border {display: none;}
        .spinner-border.htmx-request {display: inline-block}
    </style>
    {% csrf_token %}
    <div class="modal-header">
        {% if header %}
        <h1 class="modal-title fs-5">{{ header }}</h1>
        {% else %}
        <h1 class="modal-title fs-5">Registrar um foco suspeito</h1>
        {% endif %}
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body" style="touch-action: pan-y;>
        <h1 class="col-form-label fs-2 fw-bold"><i class="bi bi-{{ icone }} me-2"></i>{{ titulo }}</h1>
        {% if mensagem_erro %}
            <div class="bg-danger bg-opacity-25 rounded fw-medium text-dark p-2 mb-2">{{ mensagem_erro }}</div>
        {% endif %}
        {% if endereco %}
            <div class="bg-success bg-opacity-25 rounded fw-medium text-dark p-2 mb-2">{{ endereco }}</div>
        {% endif %}
        {{ form.as_p }}
    </div>
    <div class="modal-footer">
        {% if voltar %}
        <button type="button" class="btn rounded-pill btn-secondary" hx-get="{% url voltar %}" hx-target="#dialog">Voltar</button>
        {% else %}
        <button type="button" class="btn rounded-pill btn-secondary" data-bs-dismiss="modal">Fechar</button>
        {% endif %}
        <button type="submit" class="btn rounded-pill btn-primary">
            <span id="loader" class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            <span>Continuar</span>
        </button>
    </div>
</form>