<!-- O Mosquito -->
<div class="col-md-6">
    <div class="bg-image text-white rounded-4" id="mosquito" style="background-image: url('/static/imagens/mosquito.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat;">
        <div class="d-flex flex-column justify-content-center align-items-center rounded-4" style="height: 400px;background-color: rgba(20, 60, 100, 0.5)">
            <div class="p-3 pb-4">
                <h1><i class="bi bi-search"></i></h1>
                <h1 class="display-4 fw-medium">O mosquito</h1>
                <div class="lh-sm mt-3" style="max-width: 400px;">O <i>Aedes aegypti</i> é o mosquito transmissor da Dengue. Menor do que os mosquitos comuns, é preto com listras brancas no tronco, na cabeça e nas pernas.</div>
                <button type="button" class="btn rounded-pill btn-outline-light mt-4 mx-1">Saiba mais</button>
            </div>
        </div>
    </div>
</div>