<!-- Meus registros -->
<div class="col-md-6">
    <div class="bg-image text-white p-0 rounded-4" id="registros" style="background-image: url('/static/imagens/registros.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat;">
        <div class="d-flex flex-column justify-content-center align-items-center rounded-4" style="height: 400px; background-color: rgba(1, 1, 1, 0.2)">
            <div class="p-3 pb-4">
                <h1><i class="bi bi-geo-fill"></i></h1>
                <div class="display-4 fw-medium">Meus registros</div>
                <div class="lh-sm mt-3" style="max-width: 400px;">Aqui, você pode visualizar seus registros ou optar por excluí-los, de forma simples e rápida.</div>
                <button type="button" class="btn rounded-pill btn-light mt-4 mx-1">Visualizar</button>
            </div>
        </div>
    </div>
</div>