<form hx-post="{{ request.path }}" hx-indicator="#loader" class="modal-content">
    <style>
        .errorlist {color: red; font-weight: bold; list-style-type: none; padding-left: 0; margin-bottom: 4px;}
        .spinner-border {display: none;}
        .spinner-border.htmx-request {display: inline-block}
    </style>
    {% csrf_token %}
    <div class="modal-header align-items-start" style="padding-top: 18px;">
        <div class="d-flex flex-column w-100">
            <div class="d-flex flex-row">
                <h1 class="modal-title fs-5 lh-sm" style="margin-right: 8px;">{{ registro.endereco }}, {{ registro.numero }}</h1>
                <button type="button" class="btn-close flex-shrink-0" data-bs-dismiss="modal" aria-label="Close" style="padding-top: 18px;"></button>
            </div>
            <div class="text-body-secondary lh-sm"><small>{{registro.bairro}}, {{registro.cidade}}/{{registro.estado}}, {{ registro.cep|slice:"0:5" }}-{{ registro.cep|slice:"5:8" }}</small></div>
            <div class="text-body-secondary lh-sm"><small><i class="bi bi-calendar2-fill me-1 text-secondary"></i><span>{{registro.datahora|date:"SHORT_DATETIME_FORMAT"}}</span>{% if registro.descricao %} • <span>{{registro.descricao}}</span>{% endif %}</small></div>
        </div>
    </div>
    <div class="modal-body d-flex p-0" style="touch-action: pan-y;">
        <div class="d-flex flex-grow-1 w-100" id="mapa" style="min-height: 340px;"></div>
    </div>
    <div class="modal-footer">
        {% if voltar %}
        <button type="button" class="btn rounded-pill btn-secondary" hx-get="{% url voltar %}" hx-target="#dialog">Voltar</button>
        {% else %}
        <button type="button" class="btn rounded-pill btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        {% endif %}
        <button type="button" class="btn rounded-pill btn-danger" hx-get="{% url 'registros_apagar' ident=registro.ident %}" hx-target="#dialog">
            <span id="loader" class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            <span>Apagar</span>
        </button>
    </div>
</form>
<script>
    async function iniciarMapa() {
        const { Map } = await google.maps.importLibrary("maps");
        const { AdvancedMarkerElement, PinElement } = await google.maps.importLibrary("marker");
        let latitude = parseFloat('{{ latitude }}');
        let longitude = parseFloat('{{ longitude }}');
        let centro = {lat: latitude, lng: longitude};
        let mapa = new google.maps.Map(document.getElementById("mapa"), { zoom: 18, center: centro, mapId: "DEMO_MAP_ID", disableDefaultUI: true });
        const marker = new google.maps.marker.AdvancedMarkerElement({
            position: centro,
            map: mapa,
        });
    }
    iniciarMapa();
</script>