<form hx-post="{{ request.path }}" hx-indicator="#loader" class="modal-content" style="min-height: 450px;">
    <style>
        .errorlist {color: red; font-weight: bold; list-style-type: none; padding-left: 0; margin-bottom: 4px;}
        .spinner-border {display: none;}
        .spinner-border.htmx-request {display: inline-block}
    </style>
    {% csrf_token %}
    <div class="modal-header">
        <h1 class="modal-title fs-5">Registrar um foco suspeito</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body d-flex p-0" style="touch-action: pan-y;">
        <div class="d-flex flex-grow-1 w-100" id="mapa"></div>
    </div>
    <div class="modal-footer">
        {% if voltar %}
        <button type="button" class="btn rounded-pill btn-secondary" hx-get="{% url voltar %}" hx-target="#dialog">Voltar</button>
        {% else %}
        <button type="button" class="btn rounded-pill btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        {% endif %}
        <button type="submit" class="btn rounded-pill btn-primary">
            <span id="loader" class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            <span>Continuar</span>
        </button>
    </div>
</form>
<script>
    async function iniciarMapa() {
        const { Map } = await google.maps.importLibrary("maps");
        const { AdvancedMarkerElement, PinElement } = await google.maps.importLibrary("marker");
        let latitude = parseFloat('{{ latitude }}');
        let longitude = parseFloat('{{ longitude }}');
        let centro = {lat: latitude, lng: longitude};
        let mapa = new google.maps.Map(document.getElementById("mapa"), { zoom: 18, center: centro, mapId: "DEMO_MAP_ID", disableDefaultUI: true });
        const marker = new google.maps.marker.AdvancedMarkerElement({
            position: centro,
            map: mapa,
        });
    }
    iniciarMapa();
</script>