<div class="modal-content">
    <style>
        .errorlist {color: red; font-weight: bold; list-style-type: none; padding-left: 0; margin-bottom: 4px;}
    </style>
    <div class="modal-header">
        <h1 class="modal-title fs-5">Registrar um foco suspeito</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body d-flex fw-medium">
        <div class="d-flex flex-grow-1 align-self-center justify-content-center">
            {{ mensagem }}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn rounded-pill btn-primary" data-bs-dismiss="modal">Fechar</button>
    </div>
</div>