<!-- Navbar -->
<style>
    .nav-link:hover {cursor: pointer;}
</style>
<div class="d-flex justify-content-center align-items-center">
    <nav class="navbar navbar-expand-md bg-transparent">
        <div class="container-fluid justify-content-center">
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav" style="--bs-navbar-hover-color: rgb(var(--bs-link-color-rgb));">
                    <a class="nav-link" href="#mosquito">O mosquito</a>
                    <a class="nav-link" href="#criadouros">Os criadouros</a>
                    <a class="nav-link" hx-get="{% url 'registros_telefone' %}" hx-target="#dialog">Meus registros</a>
                    <a class="nav-link" hx-get="{% url 'analise_mapa' %}" hx-target="#dialog">Análise de dados</a>
                </div>
            </div>
        </div>
    </nav>
</div>