<!-- Rodapé -->
<div class="col bg-secondary-subtle">
    <div class="d-flex flex-column justify-content-between px-0">
        <div>
            <small>
                <p>
                    <div>UNIVESP Universidade Virtual do Estado de São Paulo</div>
                    <div>Projeto Integrador em Computação II</div>
                    <div>Polos: Jacareí e São José dos Campos (Santana e Parque de Inovação Tecnológica)</div>
                </p>
                <hr>
                <p>
                    <div>Tema: Desenvolver um software com framework web que utilize banco de dados, inclua script web (Javascript), nuvem, uso de API, acessibilidade, controle de versões e testes. Opcionalmente incluir análises de dados.</div>
                    <div>Título: Sistema de monitoramento e combate ao mosquito "Aedes aegypti".</div>
                </p>
                <hr>
                <p>
                    <div>Desenvolvido por alunos dos cursos:</div>
                    <div>Engenharia da Computação</div>
                    <div>Bacharelado em Tecnologia da Computação</div>
                    <div>Bacharelado em Ciências de Dados</div>
                    <div>Grupo 015 - Novembro de 2024</div>
                </p>
            </small>
        </div>
    </div>
</div>